.calculator {
    border-radius: 30px;
    margin: 0px auto;
    background-color: #4E4E4E;
    width: 100vw;

    @media (min-width: 768px) {
        width: 50vw;
    }

    @media (min-width: 1044px) {
        width: 32vw;
        border-radius: 50px;
    }

    .input {
        font-size: 30px;
    }

    .claculator-inputbox {
        overflow: hidden;
        text-align: right;
        width: 100%;
        background-color: #CFDECF;
        margin: 0px auto;
        border-radius: 10px;
    }

    .button-container {
        margin: 0px auto;

        .button {
            font-weight: bold;
            border-radius: 20px;
            width: 60px;
            padding: 10px;
            background-color: #EBEBEA;

            @media (min-width: 768px) {
                width: 65px;
            }

            @media (min-width: 1024px) {
                width: 90px;
                padding: 10px;
                font-size: 30px;
            }

            @media (min-width: 1044px) {
                width: 85px;
                padding: 15px;
                font-size: 30px;
            }
        }

        .ans-button {
            background-color: #FDC382;
        }

    }
}